[Desktop Entry]
Type=Application
## Change the path to the executable here.
## The sleep is necessary here because the target function needs to wait for the underlying services to start after a reboot in order to run.
Exec=bash -c 'sleep 10; /home/ari/custom_scripts/zenbook-duo-funcs/duo-functions toggle'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=screen toggle at login
Name=screen toggle at login
Comment[en_US]=Runs the screen toggle at login to disable the bottom screen by default.
Comment=Runs the screen toggle at login to disable the bottom screen by default.