[Unit]
Description=Disable mouse wakeup
After=multi-user.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/bin/sh -c 'echo "<device>" > /proc/acpi/wakeup'

[Install]
WantedBy=multi-user.target
